<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="admin/layout/header :: header">

    </div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="admin/layout/sidebar :: sidebar">

    </div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Discount Campaign list</h3>
                </div>
                <div class="box-header">
                    <a class="btn btn-success" href="/admin/add-discount-campaign"> Add new Discount Campaign</a>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                       aria-describedby="example2_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">STT
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">Tên
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                            Thông tin
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                            Ngày bắt đầu
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                            Ngày kết thúc
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                            Phần trăm giảm
                                        </th>

                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                            Ngày tạo
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Engine version: activate to sort column ascending">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="discountCampaign,stt : ${discountCampaigns}">
                                        <td th:text="${stt.index+1}"></td>
                                        <td th:text="${discountCampaign.name}"></td>
                                        <td th:text="${discountCampaign.description}"></td>
                                        <td th:text="${discountCampaign.startDate}"></td>
                                        <td th:text="${discountCampaign.endDate}"></td>
                                        <td th:text="${discountCampaign.discountPercentage}"></td>
                                        <td th:text="${discountCampaign.createdAt}"></td>
                                        <td>
                                            <a th:href="@{/admin/update-discount-campaign/{id}(id=${discountCampaign.id})}"
                                               class="btn btn-success">Update</a>
                                            <a th:href="@{/admin/delete-discount-campaign/{id}(id=${discountCampaign.id})}"
                                               class="btn btn-danger">Delete</a>
                                            <a th:href="@{/admin/discount-detail/{id}(id=${discountCampaign.id})}"
                                               class="btn btn-primary">Detail</a>
                                        </td>
                                    </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="admin/layout/footer :: footer">


    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->

    <div th:replace="admin/layout/script :: script">

    </div>
</body>
</html>
