<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="admin/layout/header :: header">

    </div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="admin/layout/sidebar :: sidebar">

    </div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">User List</h3>
                </div>
                <div class="box-header">
                    <a class="btn btn-success" href="/admin/add-user"> Add new user</a>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                       aria-describedby="example2_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">STT
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Id
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">Họ tên
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">Email
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending">Địa chỉ
                                        </th>

                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                            SĐT
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                            Giới tính
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="width: 200px">
                                            Chức vụ
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="width: 200px">
                                            Tình trạng
                                        </th>

                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Engine version: activate to sort column ascending">
                                            Action
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user,stt : ${users.content}">
                                        <td th:text="${stt.index+1}"></td>
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.firstName}+' '+${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.address}"></td>
                                        <td th:text="${user.numberPhone}"></td>
                                        <td th:text="${user.gender ? 'Male':'Female'}"></td>
                                        <td th:text="${user.role.roleName}"></td>
                                        <td th:if="${user.status}">
                                            <span class="label label-success">Active</span>
                                        </td>
                                        <td th:unless="${user.status}">
                                            <span class="label label-danger">Non-active</span>
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/update-user/{id}(id=${user.id})}"
                                               class="btn btn-success">Update</a>
                                            <a th:href="@{/admin/delete-user/{id}(id=${user.id})}"
                                               class="btn btn-danger">Delete</a>
                                            <a th:href="@{/admin/change-password-user/{id}(id=${user.id})}"
                                               class="btn btn-info">Change Password</a>
                                        </td>
                                    </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <span th:text="'Page ' + ${users.number + 1} + ' of ' + ${users.totalPages}"></span>
                            </div>
                            <ul class="pagination">
                                <li>
                                    <a th:if="${users.hasPrevious()}"
                                       th:href="@{/admin/user(pageNo=${users.number - 1}, size=${users.size})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:each="i : ${#numbers.sequence(1, users.totalPages)}">
                                    <a th:href="@{/admin/user(pageNo=${i-1},size=${users.size})}" th:text="${i}">1</a>
                                </li>
                                <li>
                                    <a th:if="${users.hasNext()}"
                                       th:href="@{/admin/user(pageNo=${users.number + 1}, size=${users.size})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="admin/layout/footer :: footer">


    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->

    <div th:replace="admin/layout/script :: script">

    </div>
</div>

</body>
</html>
