<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="admin/layout/header :: header">

    </div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="admin/layout/sidebar :: sidebar">

    </div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create new Product</h3>
                </div>
                <form role="form" th:action="@{/admin/add-product}" th:object="${product}" method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" name="pageNo" th:value="${pageNo}">
                    <input type="hidden" name="size" th:value="${size}">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="price" placeholder="Nhập tên sản phẩm"
                               th:field="*{name}">
                        <label th:errors="*{name}" style="color: #fcb941"></label>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Category</label>
                            <select id="category" name="category">
                                <option value="" >--Chọn danh mục--</option>
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                            <label th:errors="*{category}" style="color: #fcb941"></label>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Brand</label>
                            <select id="brand" name="brand">
                                <option value="" >--Chọn Brand--</option>
                                <option th:each="brand : ${brands}" th:value="${brand.id}"
                                        th:text="${brand.name}"></option>
                            </select>
                            <label th:errors="*{brand}" style="color: #fcb941"></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Price</label>
                            <input type="text" class="form-control" id="price" placeholder="Nhập giá nhập"
                                   th:field="*{importPrice}">
                            <label th:errors="*{importPrice}" style="color: #fcb941"></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Price</label>
                            <input type="text" class="form-control" id="price" placeholder="Nhập giá bán"
                                   th:field="*{price}">
                            <label th:errors="*{price}" style="color: #fcb941"></label>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Description</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   placeholder="Nhập thông tin"
                                   th:field="*{description}">
                            <label th:errors="*{description}" style="color: #fcb941"></label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label> <br>
                            <label>
                                <input type="radio" th:field="*{status}" value="1">
                                Active
                            </label><br>
                            <label>
                                <input type="radio" th:field="*{status}" value="0">
                                Non-active
                            </label><br>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Images</label>
                            <input type="file" class="form-control" id="file" name="file" multiple >
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                <div>
                    <p th:if="${message}" th:text="${message}"></p>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="admin/layout/footer :: footer">


    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->

    <div th:replace="admin/layout/script :: script">

    </div>
</div>
</body>
</html>
